@import "tachyons";
@import "icons";

body {
    font-family: "Roboto", sans-serif;
}

.b--light-purple {
    border-color: #9763f8;
}

.bg-dark-purple {
    background-color: #1b1842;
}

.bg-hero {
    background-attachment: fixed;
    background-image: url("/assets/images/backgrounds/hero.png");
    background-position: center;
}

.bg-light-gray {
    background-color: #f1f1f1;
}

.bg-light-purple-90 {
    background-color: rgba(151, 99, 248, .9);
}

.bg-purple {
    background-color: #242352;
}

.bg-purple-80 {
    background-color: rgba(36, 35, 82, .8);
}

.bullet:before {
    color: #9763f8;
    content: "•";
    display: inline-block;
    font-weight: bold;
    margin-right: .5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 1s;
  animation-name: fadeIn;
}

.light-purple {
    color: #9763f8;
}

.light-purple-80 {
    color: rgba(151, 99, 248, .8);
}

.mh-125 {
    max-height: 125px;
}

.mw9-l {
    max-width: 70rem;
}

.purple {
    color: #242352;
}

/*.schedule {
    margin-left: 75px;
}

.schedule-item:after {
    background-color: white;
    border: 4px solid #9763f8;
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    left: -16px;
    position: absolute;
    top: 0;
    width: 20px;
}

.schedule-item:last-child {
    border-color: transparent;
}

.schedule-time {
    color: #9763f8;
    font-weight: bold;
    left: -7rem;
    position: absolute;
    text-align: right;
    top: 2px;
    width: 5rem;
}*/

.shadow-left {
    box-shadow: -6px 6px 0 #51ffe1;
}

.shadow-right {
    box-shadow: 6px 6px 0 #51ffe1;
}

.ts1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

[data-aload] {
    background-image: none !important;
}

@media screen and (min-width: 60em) {

    @keyframes move {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100% center;
        }
    }

    .bg-hero {
        animation: move 3s ease-in-out infinite alternate;
    }

    .f2-l {
        font-size: 1.75rem;
    }

    .vh-100-l {
        height: 100vh;
        min-height: 650px;
    }
}
